---
import IconEmail from "@/components/icons/Email.astro"
import IconFacebook from "@/components/icons/Facebook.astro"
import IconInstagram from "@/components/icons/Instagram.astro"
import IconTikTok from "@/components/icons/TikTok.astro"
import IconYoutube from "@/components/icons/Youtube.astro"
import InlineLink from "@/components/InlineLink.astro"
import SectionTitle from "@/components/SectionTitle.astro"
import { EMAIL_ADDRESS, EXTERNAL_LINK, SECTION_ID } from "@/constants"

import ContactBackground from "./ContactBackground.astro"
import ContactGrid from "./ContactGrid.astro"
import ContactPlatform from "./ContactPlatform.astro"
---

<section class="relative isolate bg-primary py-11 text-white">
  <div class="container flex flex-col gap-12 text-center">
    <SectionTitle id={SECTION_ID.contact} color="white" class="mb-12"
      >Kapcsolat</SectionTitle
    >

    <ContactGrid>
      <li>
        <ContactPlatform href={EXTERNAL_LINK.facebook}>
          <IconFacebook slot="icon" />
          <span slot="text">Facebook</span>
        </ContactPlatform>
      </li>
      <li>
        <ContactPlatform href={EXTERNAL_LINK.instagram}>
          <IconInstagram slot="icon" />
          <span slot="text">Instagram</span>
        </ContactPlatform>
      </li>
      <li>
        <ContactPlatform href={EXTERNAL_LINK.youtube}>
          <IconYoutube slot="icon" />
          <span slot="text">Youtube</span>
        </ContactPlatform>
      </li>
      <li>
        <ContactPlatform href={EXTERNAL_LINK.tikTok}>
          <IconTikTok slot="icon" />
          <span slot="text">TikTok</span>
        </ContactPlatform>
      </li>
      <li>
        <ContactPlatform href={EXTERNAL_LINK.newsletter}>
          <IconEmail slot="icon" />
          <span slot="text">Hírlevél</span>
        </ContactPlatform>
      </li>
    </ContactGrid>

    <div class="text-2xl">
      A sajtó megkereséseit az <InlineLink href={`mailto:${EMAIL_ADDRESS}`}
        >{EMAIL_ADDRESS}</InlineLink
      > címre várjuk.
    </div>
  </div>

  <ContactBackground />
</section>
