---
import IconEmail from "@/components/icons/Email.astro"
import IconFacebook from "@/components/icons/Facebook.astro"
import IconInstagram from "@/components/icons/Instagram.astro"
import IconTikTok from "@/components/icons/TikTok.astro"
import IconYoutube from "@/components/icons/Youtube.astro"
import InlineLink from "@/components/InlineLink.astro"
import SectionTitle from "@/components/SectionTitle.astro"
import { EMAIL_ADDRESS, EXTERNAL_LINK, SECTION_ID } from "@/constants"
import bgContact from "@/images/bg-contact.png"

import ContactPlatform from "../contact/ContactPlatform.astro"
---

<section class="relative py-11 text-white">
  <div class="container flex flex-col gap-12 text-center">
    <SectionTitle id={SECTION_ID.contact} color="white" class="mb-12"
      >Contact</SectionTitle
    >

    <ul class="flex justify-between">
      <li>
        <ContactPlatform href={EXTERNAL_LINK.facebook}>
          <IconFacebook slot="icon" class="size-24" />
          <span slot="text">Facebook</span>
        </ContactPlatform>
      </li>
      <li>
        <ContactPlatform href={EXTERNAL_LINK.instagram}>
          <IconInstagram slot="icon" class="size-24" />
          <span slot="text">Instagram</span>
        </ContactPlatform>
      </li>
      <li>
        <ContactPlatform href={EXTERNAL_LINK.youtube}>
          <IconYoutube slot="icon" class="size-24" />
          <span slot="text">Youtube</span>
        </ContactPlatform>
      </li>
      <li>
        <ContactPlatform href={EXTERNAL_LINK.tikTok}>
          <IconTikTok slot="icon" class="size-24" />
          <span slot="text">TikTok</span>
        </ContactPlatform>
      </li>
      <li>
        <ContactPlatform href={EXTERNAL_LINK.newsletter}>
          <IconEmail slot="icon" class="size-24" />
          <span slot="text">Hungarian newsletter</span>
        </ContactPlatform>
      </li>
    </ul>

    <div class="text-2xl">
      Press enquiries: <InlineLink href={`mailto:${EMAIL_ADDRESS}`}
        >{EMAIL_ADDRESS}</InlineLink
      >
    </div>
  </div>

  <img
    src={bgContact.src}
    alt=""
    class="absolute inset-0 -z-10 h-full w-full object-cover"
  />
</section>
