---
import Tanitanek from "@/components/icons/Tanitanek.astro"
import { EMAIL_ADDRESS, EXTERNAL_LINK, SECTION_ID } from "@/constants"
import mkkpEpLogo from "@/images/mkkp-ep-logo.png"
import EmailOutline from "../icons/EmailOutline.astro"
import InlineLink from "../InlineLink.astro"
import { withBase } from "@/utils"
---

<footer class="bg-secondary-dark pb-14 pt-8 text-white">
  <div class="container flex gap-2 lg:flex-col lg:gap-7">
    <div
      class="grid flex-1 grid-cols-2 place-content-center gap-y-2 leading-tight xl:grid-cols-[1fr_2fr] sm:grid-cols-1 sm:gap-4"
    >
      <div>
        <InlineLink href={withBase("/rolam")}>Rólam</InlineLink>
      </div>
      <div>
        <InlineLink href={withBase(`/#${SECTION_ID.goals}`)}
          >Ügyek és eredmények</InlineLink
        >
      </div>
      <div>
        <InlineLink href={EXTERNAL_LINK.joinCampaign}>Csatlakozz</InlineLink>
      </div>
      <div>
        <InlineLink href={withBase(`/#${SECTION_ID.faq}`)}
          >Gyakori kérdések</InlineLink
        >
      </div>
      <div>
        <InlineLink href={withBase(`/#${SECTION_ID.support}`)}
          >Támogass</InlineLink
        >
      </div>
      <div>
        <InlineLink href={withBase("/en")}>English</InlineLink>
      </div>
    </div>

    <div
      class="flex flex-col gap-4 border-l border-white py-2 pl-7 lg:border-l-0 lg:border-t lg:py-4 lg:pl-0 sm:py-8"
    >
      <InlineLink
        href={EXTERNAL_LINK.tanitanek}
        class="flex items-center gap-5 text-3xl font-extrabold"
      >
        <Tanitanek class="size-10" />
        <span class="drop-shadow-[0_4px_4px_rgba(0,0,0,0.25)]">TANÍTANÉK!</span>
      </InlineLink>

      <InlineLink
        href={EXTERNAL_LINK.mkkp}
        class="flex items-center gap-5 text-[28px] font-semibold"
      >
        <img src={mkkpEpLogo.src} alt="" width={40} height={40} />
        <span class="italic">MAGYAR KÉTFARKÚ KUTYA PÁRT</span>
      </InlineLink>

      <InlineLink
        href={`mailto:${EMAIL_ADDRESS}`}
        class="flex items-center gap-5 text-[28px]"
      >
        <EmailOutline class="size-10" />
        <span>{EMAIL_ADDRESS}</span>
      </InlineLink>
    </div>
  </div>
</footer>
